/* -----------Projects-Styles----------- */
.projects {
   grid-column: 1/7;
   display: grid;
   /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 3rem;
   grid-template-rows: minmax(320px, auto);
   margin-bottom: 1rem;
   justify-content: space-evenly;
   margin-top: 3rem;
}













@media screen and (max-width: 768px) {
  /* .projects {
     justify-content: center;
     align-items: center;
  } */
}