/* ----------Card-Styles---------- */
.card {
   background-color: #222222;
   grid-column: span 1;
   width: 80%;
   justify-self: center;
}
.card-img img {
   margin-bottom: 0.5rem;
}
.card-title {
   margin-bottom: 0.5rem;
}
.card-link-project {
   font-size: 1rem;
   display: flex;
   justify-content: space-around;
   margin-bottom: 0.5rem;
   margin-left: 0.5rem;
   margin-right: 0.5rem;
}
.card-link-project a {
   text-decoration: none;
   color: #f0ece2;
   background-color: #010101;
   transition: 0.15s linear;
}
.card-link-project a:hover {
   color: #010101;
   background-color: #acdbdf;
}
.card-link-project a p {
   text-align: center;
   padding: 0.5rem 1rem;
}
.card-link-site {
   font-size: 1rem;
   display: flex;
   justify-content: center;
   margin-bottom: 0.5rem;
   margin-left: 0.5rem;
   margin-right: 0.5rem;
}
.card-link-site a {
   text-decoration: none;
   color: #f0ece2;
   background-color: #010101;
   transition: 0.15s linear;
}
.card-link-site a:hover {
   color: #010101;
   background-color: #acdbdf;
}
.card-link-site a p {
   text-align: center;
   padding: 0.5rem 1rem;
}
.card-badge {
   margin-bottom: 0.5rem;
}










@media screen and (max-width: 768px) {
   .card {
      grid-column: span 7;
      width: 88%;
   }
   .card-link-project a {
      color: #010101;
      background-color: #acdbdf;
   }
   .card-link-site a {
      color: #010101;
      background-color: #acdbdf;
   }
}